@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-noto-sans-kr:
    'Noto Sans KR', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

body {
  font-family: var(--font-noto-sans-kr);
}

@layer base {
  * {
    @apply border-gray-20 dark:border-gray-80;
  }

  body {
    @apply bg-white dark:bg-gray-95 text-gray-90 dark:text-gray-10;
  }
}
